@import url(https://fonts.googleapis.com/css?family=Roboto:700);
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    // background-color: #2b90d9;
    background-color: #d9e1e8;
	margin-left: 9%;
	margin-right: 9%;
    // font-family: 'Passion One';
    // font-size: 18px;
}


h1, h3 hr {
    font-family: 'Roboto';
    font-weight: bold;
    color: #414042;
}

h2, h4, h5 {
    font-family: 'Roboto';
    font-weight: normal;
    letter-spacing: 2px;
    color: #414042;
}

.hof_header {
	    color: #2b90d9;
}

.hof_data {
    color: #414042;
}






.simmons {
    background-color: #f0f5f9;
    // border-bottom: 10px;
    // border-width: medium;
    // border-color: red;
}


.main {
    // background-color: gray;
}


strong {
    font-size: 14px;
}



.will {
    color:#c72e45;
}

.test {
color:    #2b90d9;
}



td, th {
    font-size: 11px;
}



.mana_names {
font-weight: bold;
}
