
// .sea1{
// 	color:red;
// 	background-color: grey;
// }
.win_total {
	color:black;
}

.full_seasons {
align-self: center;
}

.roman{
	color:black;
	font-size: 9px;
	font-weight: bold;
}

.win_loss {
	color:black;
	font-size: 10px;
}


td {
	color:black;
	font-size: 11px;
	// padding: 1px;
}

th {
	font-size: 11px;
	// padding: 1px;
}




.inactive {
	font-style: italic;
	color:grey;
}


.active {
	font-style: bold;
	color:black;
}



.commish {
	color:black;
}


.user {
	color:grey;
}
// make the active/inactive a user glyphicon in its OWN column before owner name so it can be sortable (basically a this season only button)



//add star glyphicon to titles column
.first_place {
	background-color: gold;
	font-weight: bold;
}
.second_place{
	background-color: silver;
}
.third_place{
	background-color: #DEA36C;

}
.forth_place{
	background-color: #E1E1E1;
}

.last_place{}
.roy{}
// or somekind of glyphicon might be a better solution for this one

// somthing to denot if team made playoffs glyphicon super small px size
//something to denote lockout season *
// denote in legend that wins does NTOT include playoff wins
// add a playoffs win column
// 2 team colors tab

// hometown tab?
// team logo spot for futrue?

// icon in legend maybe a banner to denote hall of hame eligilbity for each cat of 4 and then another one for incudted
// gradient from highest to lowest

.alltime_10k {
color:lightblue;
opacity: 90%;
}
.alltime_20k {
	color:lightblue;
	opacity: 20%;
}
.alltime_30k {
	color:lightblue;
	opacity: 30%;
}
.alltime_40k {
	color:lightblue;
	opacity: 40%;
}
.alltime_50k {
	color:lightblue;
	opacity: 50%;
}
.alltime_60k {
	color:lightblue;
	opacity: 60%;
}
.alltime_70k {
	color:lightblue;
	opacity: 70%;
}
.alltime_80k {
	color:lightblue;
	opacity: 80%;
}
.alltime_90k {
	color:lightblue;
	opacity: 90%;
}

.alltime_100k {
	color:lightblue;
	opacity: 100%;
}






// gradient from highest to lowest

.total_wins_10 {
background-color:orange;
color:black;
opacity: .1;
}
.total_wins_20 {
	background-color:orange;
	color:black;
	opacity: .2;
}
.total_wins_30 {
	background-color:orange;
	color:black;
	opacity: .3;
}
.total_wins_40 {
	background-color:orange;
	color:black;
	opacity: .4;
}
.total_wins_50 {
	background-color:orange;
	color:black;
	opacity: .5;
}
.total_wins_60 {
	background-color:orange;
	color:black;
	opacity: .6;
}
.total_wins_70 {
	background-color:orange;
	color:black;
	opacity: .7;
}
.total_wins_80 {
	background-color:orange;
	color:black;
	opacity: .8;
}
.total_wins_90 {
	background-color:orange;
	color:black;
	opacity: .9;
}

.total_wins_100 {
	background-color:orange;
	color:black;
	opacity: 1.0;
}




.first_box {
	width:20px;
	height: 20px;
	background-color: red;
}




.glyphicon-star {
	color: black;
	font-size: .8em;
}


.jersey {
	height:1.5em;
	width:1.5em;
}


.commish_icon {
	height:1.4em;
	width:1.4em;
}

//team color format
// .home_{
// 	background-color:# ;
// }
// .away_{
// 	background-color:# ;
// }
