
// .sea1{
// 	color:red;
// 	background-color: grey;
// }


.full_seasons {
align-self: center;
}

.roman{
	color:black;
	font-size: 9px;
	font-weight: bold;
}

.win_loss {
	color:black;
	font-size: 10px;
}


td {
	color:grey;
	font-size: 11px;
	// padding: 1px;
}

th {
	font-size: 11px;
	// padding: 1px;
}




.inactive {
	font-style: italic;
	color:grey;
}


.active {
	font-style: bold;
	color:black;
}



.commish {
	color:black;
}


.user {
	color:grey;
}
// make the active/inactive a user glyphicon in its OWN column before owner name so it can be sortable (basically a this season only button)



//add star glyphicon to titles column
.first_place {
	background-color: gold;
	font-weight: bold;
}
.second_place{
	background-color: silver;
}
.third_place{
	background-color: #C49060;

}
.forth_place{
	background-color: #E1E1E1;
}

.last_place{}
.roy{}
// or somekind of glyphicon might be a better solution for this one





.first_box {
	width:20px;
	height: 20px;
	background-color: red;
}
